main {
  padding: 0 21%;
  background-color: #efefef;

  .special,
  .viewed {
    padding-top: 6.8%;

    h2 {
      font-size: 1.7rem;
      margin-bottom: 3.5%;
    }

    .cards-holder {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0 2.5%;

      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        padding: 10% 18%;

        img {
          width: 75%;
        }

        p {
          margin: 10% 0;
          line-height: 19.69px;
          text-align: center;
        }

        .cost {
          margin: 4% 0;
          font-size: 1.5rem;
          font-weight: 700;
        }

        a {
          margin-top: 5%;
          background-color: #f13c6e;
          border-radius: 40px;
          padding: 5% 5.5%;
          width: 80%;
          color: #ffffff;
          text-align: center;
        }

        a:hover {
          background-color: #b8db66;
          color: #ffffff;
        }
      }
    }
  }

  .contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 2.7%;
    margin: 9% 0;

    .client-holder,
    .shop-holder {
      display: flex;
      justify-content: space-between;
      padding: 7% 8%;
      background-color: #f13c6e;
      color: #fff;

      h3 {
        font-size: 1.3rem;
      }

      p {
        margin: 6% 0;
        width: 55%;
        line-height: 19.69px;
      }

      input,
      a {
        border-radius: 40px;
        padding: 4% 9%;
        margin-top: 3%;
      }

      a {
        display: block;
        width: 75%;
        background-color: #f13c6e;
        border: 2px solid #fff;
        padding: 3% 0;
        margin-top: 12%;
        color: #fff;
        text-align: center;
      }

      a:hover {
        background-color: #fff;
        color: #f13c6e;
      }

      .img-holder {
        width: 30%;

        img {
          width: 100%;
        }
      }
    }

    .shop-holder {
      .img-holder {
        width: 42%;
        padding: 3% 0;

        img {
          width: 100%;
        }
      }
    }
  }
}
